.nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 150px;
    border-right: 1px solid var(--color-light-gray);
    padding-right: 32px;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}