.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 59px;
    border-radius: 99px;
    border: 1px solid var(--color-dark-purple-30);
    cursor: text;
}

.input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    color: var(--color-dark-purple);
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    background: none;
}

.input::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(60, 27, 60, 0.5);
}

.actionContainer {
    padding-right: 12px;
}

.errorContainer {
    position: absolute;
    color: var(--color-strawberry);
    display: inline-block;
    padding: 2px 5px;
    background: var(--color-white);
    font-size: 12px;
    line-height: 1.33;
    left: 34px;
    top: 47px;
}