.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.blurbaySelect {
    position: relative;
    border: 1px solid var(--color-dark-purple-30);
    border-radius: 99px;
    padding: 0 20px;
    outline: none;
    box-shadow: none;
    height: 59px;
    width: 184px;
    display: flex;
    gap: 4px;
}

.blurbaySelect:focus, .blurbaySelect:hover {
    border: 1px solid var(--color-dark-purple-30);
    box-shadow: none;
    outline: none;
}

.content {
    color: var(--color-dark-purple);
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}

.content span {
    color: var(--color-dark-purple-60);
}

.option {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 16px;
}

.downIcon, .topIcon {
    position: relative;
    transition: none;
    height: 6px;
    top: 2px;
}

.topIcon {
    transform: rotateX(180deg);
}