.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.blurbaySelect {
    position: relative !important;
    border: 1px solid var(--color-dark-purple-30) !important;
    border-radius: 99px !important;
    padding: 0 20px !important;
    outline: none;
    box-shadow: none;
    height: 59px !important;
    width: 100% !important;
    display: flex;
    gap: 4px !important;
}


.blurbaySelect:focus, .blurbaySelect:hover {
    border: 1px solid var(--color-dark-purple-30) !important;
    box-shadow: none !important;
    outline: none !important;
}

.list {
    background: var(--color-white) !important;
    border-radius: 24px !important;
    padding: 8px !important;
    border: 1px solid var(--color-dark-purple-30) !important;
    outline: none;
    height: fit-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.content {
    color: var(--color-dark-purple);
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}

.content span {
    color: var(--color-dark-purple-60);
}

.option {
    position: relative;
    height: 42px;
    min-height: 42px;
    padding: 0 16px;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(60, 27, 60, 0.65);
    display: flex;
    align-items: center;
}

.option:hover, option:focus {
    color: var(--color-dark-purple);
}

.arrowIcon {
    position: relative;
    transition: none;
    height: 6px;
    top: 2px;
}