:root {
  --color-white: #FFFFFF;
  --color-light-gray: #EEF0F1;
  --color-dark-purple: #3C1B3C;
  --color-dark-purple-60: rgba(60, 27, 60, 0.6);
  --color-dark-purple-30: rgba(60, 27, 60, 0.3);
  --color-misty-rose: #FFE2E0;
  --color-elder-pink: #FFDCDA;
  --color-pastel-red: #FF6D64;
  --color-purple-pizzazz: #FF64E5;
  --transition: all .3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maison Neue', sans-serif;
  transition: var(--transition);
}

body {
  background: var(--color-misty-rose);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

input, button {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(var(--color-pastel-red), var(--color-purple-pizzazz));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.react-dropdown-select-dropdown {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  top: -1px !important;
}

@font-face {
  font-family: 'Maison Neue';
  src: url(./assets/font/maison-neue/MaisonNeueWEB-Book.woff2) format('woff2'),
  url(./assets/font/maison-neue/MaisonNeueWEB-Book.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url(./assets/font/maison-neue/MaisonNeueWEB-Medium.woff) format('woff2'),
  url(./assets/font/maison-neue/MaisonNeueWEB-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url(./assets/font/maison-neue/MaisonNeueWEB-Demi.woff2) format('woff2'),
  url(./assets/font/maison-neue/MaisonNeueWEB-Demi.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url(./assets/font/maison-neue/MaisonNeueWEB-Bold.woff2) format('woff2'),
  url(./assets/font/maison-neue/MaisonNeueWEB-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}
